// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/slick-carousel/slick/slick.scss";
// endbower

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Oswald:400,700');

$negative: #222;
$celtics-green: #008348;

$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

$padding-factor: 2.5em;

body {
  color: $negative;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
	@media (max-width: $sm) {
		font-size: 18px;
	}
	@media (max-width: $xs) {
		font-size: 16px;
	}
}

h1, h2, h3, h4 {
  font-family: 'Oswald', 'Source Sans Pro', Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 2.7em;
  margin-bottom: 0.3em;
  text-transform: uppercase;
}
h2 {
  font-size: 1.25em;
  margin: 0 0 1.25em;
}
h3 {
  font-size: 2.2em;
  margin-bottom: 0.75em;
  text-transform: uppercase;
}
h4 {
  font-size: 1.1em;
  text-transform: uppercase;
	margin: 1em 0;
}
p {
  font-size: 1em;
  line-height: 1.4;
	margin-bottom: 1em;
	&.sm {
		font-size: 0.8em;
	}
}
img {
	max-width: 100%;
}

.muted {
	color: #999;
}
.circle {
  border-radius: 50%;
}
.pad-side {
	padding-left: $padding-factor;
	padding-right: $padding-factor;
}
.pad-top {
	padding-top: $padding-factor;
	&-md {
		@media (max-width: $md) {
			padding-top: 0;
		}
	}
}
.pad-left {
	padding-left: $padding-factor;
	&-md {
		@media (max-width: $md) {
			padding-left: 0;
		}
	}
}
.pad-right {
	padding-right: $padding-factor;
	&-md {
		@media (max-width: $md) {
			padding-right: 0;
		}
	}
}
.text {
	&-left {
		&-md {
			@media (max-width: $md) {
				text-align: left;
			}
		}
	}
}

.custom-select {
	width: 100%;
	display: inline-block;
	position: relative;
	margin: 1.5em 0 0;
	select {
		background: lighten($negative, 5%);
		color: #fff;
		border: 0;
		border-radius: 0;
		outline: 0;
		padding: 1em;
		width: 100%;
		display: inline-block;
		cursor: pointer;
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		&::-ms-expand {
			display: none;
		}
		&:hover, &:focus {
			background: lighten($negative, 7%);
		}
	}
	.arrow {
		border-style: solid;
		border-width: 8px 5px 0 5px;
		border-color: #fff transparent transparent transparent;
		width: 0;
		height: 0;
		position: absolute;
		top: 1.5em;
		right: 1em;
		pointer-events: none;
	}
}

#wrapper {
	max-width: 1750px;
	margin: 0 auto;
	position: relative;
}

.section {
	padding-right: 3em;
	padding-left: 3em;
	@media (max-width: $md) {
		min-height: auto;
		padding-left: 1.5em;
		padding-right: 1.5em;
	}
}

#hero {
	background: url('../images/hero.jpg');
  background-size: cover;
	min-height: 100vh;
  padding-top: 16vh;
	& > div {
		display: block;
	}
	@media (max-width: $md) {
		background: $celtics-green;
		min-height: auto;
		padding-top: 0;
	}
}

#stat {
	background: $negative;
	color: #fff;
	padding-top: 5em;
	padding-bottom: 6em;
	@media (max-width: $md) {
		padding-top: 2.5em;
		padding-bottom: 3em;
	}
	#chart {
		margin-top: 3em;
	}
}

#play {
	background: #fff;
  padding-top: 5em;
	padding-bottom: 6em;
	@media (max-width: $md) {
		padding-top: 2.5em;
		padding-bottom: 3em;
	}
}

#highlights {
	background: $negative;
	color: #fff;
	padding-top: 5em;
	padding-bottom: 6em;
	@media (max-width: $md) {
		padding-top: 2.5em;
		padding-bottom: 3em;
	}
}

.block {
  padding: 1.75em 2.5em;
  &-negative {
    background: $negative;
    background: transparentize($negative, 0.1);
    color: #fff;
  }
	&-green-md {
		@media (max-width: $md) {
			background: $celtics-green;
		}
	}
	@media (max-width: $md) {
		padding-left: 0;
		padding-right: 0;
	}
}

.game {
	margin-bottom: 1.5em;
	cursor: pointer;
	opacity: 0.6;
	transform: scale(0.95);
	transition: all 0.2s ease;
	&:hover, &.active {
		transform: scale(1);
		opacity: 1;
	}
	.logo {
		width: 4.5em;
		margin: 0 auto;
	}
	.score {
		background: #fff;
		color: $negative;
		padding: 0.5em 2em 1em;
		.pts {
			color: #444;
			font-family: 'Oswald';
			font-size: 1.5em;
			margin-bottom: 0;
		}
	}
	.stat-line {
		background: $celtics-green;
		padding: 0.6em 2em 0.75em;
		p {
			font-size: 0.7em;
			margin-bottom: 0;
		}
	}
}

.slick {
	max-height: 0;
	overflow: hidden;
	transition: all 0.3s ease;
	&.open {
		max-height: 1000px;
	}
}
